@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Css
{
     <link rel="stylesheet" href="~/Content/css/login.min.css" />
    @RenderSection("Css", false)
}
@section Scripts
{
    @RenderSection("Scripts", false)
}
<div class="page">
    <div class="lr_header">
        <div class="layout">
            <h1 class="logo"><a href="javascript:;">
                <img src="~/Content/images/i/lr_logo.jpg" /></a></h1>
            @*<em>手机快速注册：发送DBC到1234567890，根据短信提示完成注册。</em>*@
        </div>
    </div>

    <div class="lr_content">
        <div class="lr_bgimg">
            <div class="lr_ul">
                <ul>
                    <li>
                        <img src="~/Content/images/i/lr_li_e.jpg" /></li>
                </ul>
            </div>
        </div>
        @RenderBody()
        <div class="lr_bottom">
            @*<span><i class="lr_bt_l"></i><i class="lr_bt_r"></i></span>*@
        </div>
    </div>

    <div class="lr_footer">
        <div class="layout">
            Copyright 2006-2012 DBC Software , All Right Reserved. 沪ICP备 12020318 号
        </div>
    </div>
</div>
