@{
    ViewBag.Title = "注册成功";
    Layout = "~/Views/Shared/_GateMaster.cshtml";
}
@section Css
{
    
}
<div class="lr_layout">
    <div class="lg_tmain">
        <div class="lg_tcontent">
            <div class="lg_title"><a href="javascript:;">注册结果 </a></div>
            <div class="lg_sm">
                <i class="icon"></i>注册成功！
            </div>
            <div class="lg_go"><a href="/login">立即登录</a></div>
        </div>
    </div>
</div>
