@model DBC.WeChat.Models.Conversation.ActivityQuery


<div class="hide">
    @Html.TextBoxFor(m => m.Take)
    @Html.TextBoxFor(m => m.Skip)
    @Html.TextBoxFor(m => m.OrderField)
    @Html.TextBoxFor(m => m.OrderDirection)
</div>