<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="SubscribeKeyWordContent" value="_SubScribeReply_" />
    <add key="DefaultKeyWordContent" value="_DefaultReply_" />
    <add key="ftp" value="http://192.168.1.14:8048" />
    <add key="fileFtp" value="ftp://192.168.1.14"/>
    <add key="ConversationUrl" value="http://dbcsoft.3322.org/Conversation/ConversationService.ashx?id=" />
  </appSettings>
  <system.web>
    <httpRuntime requestValidationMode="2.0" />
    <compilation debug="true" targetFramework="4.0" />
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <httpModules>
      <add name="ServiceLocatorLoader" type="DBC.Web.HttpModules.ServiceLocatorLoader, DBC.Core" />
      <add name="ModuleLoader" type="DBC.Web.HttpModules.ModuleLoader, DBC.Core" />
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeUConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ServiceLocatorLoader" type="DBC.Web.HttpModules.ServiceLocatorLoader, DBC.Core" />
      <add name="ModuleLoader" type="DBC.Web.HttpModules.ModuleLoader, DBC.Core" />
    </modules>
  </system.webServer>
  <log4net configSource="log4net.config" />
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="DBC.Core" />
    <namespace name="DBC.Events" />
    <namespace name="DBC.Logging" />
    <namespace name="DBC.Modules" />
    <namespace name="DBC.Tasks" />
    <namespace name="DBC.Utils.Serialization" />
    <namespace name="DBC.Utils.Pluralization" />
    <namespace name="DBC.Utils.Pluralization" />
    <namespace name="DBC.Utils.Storage" />
    <namespace name="DBC.Utils.FTPService" />
    <namespace name="DBC.Utils.FTPService.FtpServices" />
    <namespace name="DBC.Utils.Storage.Services.Ftp" />
    <namespace name="DBC.Utils.ImageService" />

    <assembly name="DBC.Ors.Services" />
    <namespace name="DBC.Ors.Services" />
    <assembly name="DBC.WeChat.Services" />
    <namespace name="DBC.WeChat.Services" />
    <namespace name="DBC.WeChat.Services.Components.Picture" />
    <namespace name="DBC.WeChat.Services.Sales.Components" />
    <namespace name="DBC.WeChat.Services.Conversation.Components"/>
    <container>
      <register type="ILogger" mapTo="DBC.WeChat.Services.Logging.Log4NetLogger, DBC.WeChat.Services">
        <lifetime type="singleton" />
        <constructor>
          <param name="LogName" value="FileLogger" />
        </constructor>
      </register>
      <!-- 事件订阅分发服务 管理员身份 -->
      <register name="Internal" type="IEventPublisher" mapTo="DBC.Events.EventPublisher, DBC.Core">
        <lifetime type="singleton" />
      </register>
      <register name="Ors" type="IEventPublisher" mapTo="DBC.Events.EventPublisher, DBC.Core">
        <lifetime type="singleton"/>
      </register>
      <!-- 事件驱动对象访问服务 管理员身份 -->
      <register name="Internal" type="IModelService" mapTo="DBC.Ors.Services.Components.Events.ModelEventService, DBC.Ors.Services">
        <lifetime type="singleton" />
        <property name="Publisher" dependencyName="Internal"></property>
      </register>
      <register name="Ors" type="IModelService" mapTo="DBC.Ors.Services.Components.Events.ModelEventService, DBC.Ors.Services">
        <lifetime type="singleton" />
        <property name="Publisher" dependencyName="Ors"></property>
      </register>
      <!--商品图片规格-->
      <register name="MallSize" type="DBC.WeChat.Models.PictureSize,DBC.WeChat.Models">
        <property name="Width" value="295"></property>
        <property name="Height" value="295"></property>
      </register>
      <register name="DetailZoomSize" type="DBC.WeChat.Models.PictureSize,DBC.WeChat.Models">
        <property name="Width" value="400"></property>
        <property name="Height" value="400"></property>
      </register>
      <register name="ListSize" type="DBC.WeChat.Models.PictureSize,DBC.WeChat.Models">
        <property name="Width" value="60"></property>
        <property name="Height" value="60"></property>
      </register>
      <!--回复图片的规格-->
      <register name="CoverSize" type="DBC.WeChat.Models.PictureSize,DBC.WeChat.Models">
        <property name="Width" value="360"></property>
        <property name="Height" value="200"></property>
      </register>
      <register name="ItemSize" type="DBC.WeChat.Models.PictureSize,DBC.WeChat.Models">
        <property name="Width" value="200"></property>
        <property name="Height" value="200"></property>
      </register>
      <!-- FTP服务 -->
      <register name="FtpService" type="IFileService" mapTo="DBC.Utils.Storage.Services.Ftp.Service, DBC.Core">
        <property name="Options" dependencyName="FtpOptions"></property>
      </register>
      <register name="FtpOptions" type="DBC.Utils.Storage.Services.Ftp.Options, DBC.Core">
        <property name="Root" value="ftp://192.168.1.14/"></property>
        <property name="UserName" value="weixin"></property>
        <property name="Password" value="111111"></property>
      </register>
      <!--商品FTP图片服务-->
      <register name="Ftp" type="IPictureService" mapTo="DBC.WeChat.Services.Components.Picture.FtpPictureService, DBC.WeChat.Services">
        <property name="FtpService" dependencyName="FtpService" />
        <property name="Options" dependencyName="FtpOptions"></property>
        <property name="Url" value="http://192.168.1.14:8048"></property>
        <property name="MaxSize" value="50000"></property>
        <property name="Extension" value="jpg,png"></property>
        <property name="PictureSizes">
          <array>
            <dependency name="MallSize" />
            <dependency name="DetailZoomSize" />
            <dependency name="ListSize" />
            <dependency name="CoverSize" />
            <dependency name="ItemSize" />
          </array>
        </property>
      </register>


      
      <!--订单服务-->
      <register name="SaleOrderService" type="ISaleOrderService" mapTo="DBC.WeChat.Services.Sales.Components.SaleOrderService,DBC.WeChat.Services">
        <lifetime type="singleton"/>
        <property name="DataService" dependencyName="Internal"/>
      </register>
      <register name="OwnerAutoFill" type="IModule" mapTo="DBC.WeChat.Services.Components.Modules.Defaults, DBC.WeChat.Services">
        <lifetime type="singleton" />
        <property name="Registration" />
        <property name="Publisher" dependencyName="Internal" />
      </register>
      <register name="FilterOutNotOwnedRequests" type="IModule" mapTo="DBC.WeChat.Services.Components.Modules.FilterCurrentOwnerObjects, DBC.WeChat.Services">
        <lifetime type="singleton"/>
        <property name="Registration"/>
        <property name="Publisher" dependencyName="Internal"/>
      </register>
      <!-- 缓存服务 -->
      <register type="DBC.Ors.Services.Components.Caching.ICacheProvider, DBC.Ors.Services" mapTo="DBC.Ors.Services.Components.Caching.MemoryCacheProvider, DBC.Ors.Services">
        <lifetime type="singleton"/>
        <method name="Initialize"/>
      </register>

      <!-- 配置管理 -->
      <register type="DBC.Ors.Services.Components.Configuration.IConfigurationProvider, DBC.Ors.Services" mapTo="DBC.Ors.Services.Components.Configuration.CachedConfigurationProvider, DBC.Ors.Services">
        <lifetime type="singleton"/>
        <method name="Initialize"/>
        <property name="Cache"></property>
        <property name="Publisher" dependencyName="Internal"></property>
      </register>
      <!-- 模型注册器 -->
      <register type="DBC.Ors.Services.Modeling.Registration, DBC.Ors.Services">
        <property name="MatchPatternStrings">
          <array>
            <!--地区-->
            <value value="DBC.Ors.Models.Infrastructures.Shared.Area, DBC.Ors.Models" />
            <value value="DBC.Ors.Models.Infrastructures.Shared.AreaPath, DBC.Ors.Models" />
            <!--认证-->
            <value value="DBC.Ors.Models.Infrastructures.Authentication.*, DBC.Ors.Models" />
            <!--授权-->
            <value value="DBC.Ors.Models.Infrastructures.Authorization.*, DBC.Ors.Models" />
            <!--日志-->
            <value value="DBC.Ors.Models.Logging.*, DBC.Ors.Models" />
            <!--工作流-->
            <value value="DBC.Ors.Models.WorkFlow.*, DBC.Ors.Models" />
            <value value="DBC.WeChat.Models.*, DBC.WeChat.Models" />
          </array>
        </property>
      </register>
      <!-- 模型注册器 -->
      <register name="Ors" type="DBC.Ors.Services.Modeling.Registration, DBC.Ors.Services">
        <property name="MatchPatternStrings">
          <array>
            <!--客户-->
            <value value="DBC.Ors.Models.Infrastructures.MemberShip.Customer, DBC.Ors.Models" />
            <value value="DBC.Ors.Models.Infrastructures.MemberShip.CustomerRank, DBC.Ors.Models" />
            <value value="DBC.Ors.Models.Infrastructures.MemberShip.CustomerBalance, DBC.Ors.Models" />
            <value value="DBC.Ors.Models.Infrastructures.MemberShip.CustomerIdentity, DBC.Ors.Models" />
            <!--订单-->
            <value value="DBC.Ors.Models.Sales.Order, DBC.Ors.Models" />
            <value value="DBC.Ors.Models.Sales.OrderFund, DBC.Ors.Models" />
            <!--工作流-->
            <value value="DBC.Ors.Models.WorkFlow.*, DBC.Ors.Models" />
          </array>
        </property>
      </register>
      <!-- 单复数转换 -->
      <register name="English" type="IPluralizer" mapTo="DBC.Utils.Pluralization.Pluralizers.English, DBC.Core">
        <lifetime type="singleton"/>
      </register>
      <!-- 序列化 -->
      <register type="DBC.Utils.Serialization.Serialization, DBC.Core">
        <property name="Serializers">
          <array>
            <dependency name="Json" />
          </array>
        </property>
      </register>
      <!-- Json -->
      <register name="Json" type="ISerializer" mapTo="DBC.Utils.Serialization.Serializers.Json, DBC.Core">
        <lifetime type="singleton" />
      </register>
      <!-- 路由生成器 -->
      <register type="DBC.Ors.Services.Web.RouteFactory, DBC.Ors.Services">
        <property name="NameSpacePrefix" value="DBC.WeChat.Models."></property>
        <property name="PathPrefix" value="v1/"></property>
        <property name="Pluralized" value="true"></property>
        <property name="Pluralizer" dependencyName="English" />
        <property name="Registration" />
      </register>
      <register name="Ors" type="DBC.Ors.Services.Web.RouteFactory, DBC.Ors.Services">
        <property name="NameSpacePrefix" value="DBC.Ors.Models."></property>
        <property name="PathPrefix" value="v1/"></property>
        <property name="Pluralized" value="true"></property>
        <property name="Pluralizer" dependencyName="English" />
        <property name="Registration" dependencyName="Ors" />
      </register>
      <!-- Web Service客户端 -->
      <register name="Web_Service_Client_Internal" type="IModule" mapTo="DBC.Ors.Services.Web.Modules.Client, DBC.Ors.Services">
        <property name="BaseUrl" value="http://localhost:4500/"></property>
        <!-- 事件订阅分发服务 -->
        <property name="Publisher" dependencyName="Internal" />
        <property name="RouteFactories">
          <array>
            <dependency />
          </array>
        </property>
        <property name="Serialization" />
        <property name="UseImpersonation" value="true" />
        <property name="User" dependencyName="Administrator" />
      </register>
      <!-- Web Service客户端 For Ors -->
      <register name="Web_Service_Client_Internal_For_Ors" type="IModule" mapTo="DBC.Ors.Services.Web.Modules.Client, DBC.Ors.Services">
        <property name="BaseUrl" value="http://192.168.1.21:8257/"></property>
        <!-- 事件订阅分发服务 -->
        <property name="Publisher" dependencyName="Ors" />
        <property name="RouteFactories">
          <array>
            <dependency name="Ors" />
          </array>
        </property>
        <property name="Serialization" />
        <property name="UseImpersonation" value="true" />
        <property name="User" dependencyName="Administrator" />
      </register>
      
      <!--商品生成二维码服务 用户信息获取服务-->
      <register name="ScenePic" type="DBC.WeChat.Services.Components.Picture.IPictureService,DBC.WeChat.Services"
                mapTo="DBC.WeChat.Services.Components.Picture.FtpPictureService, DBC.WeChat.Services">
        <property name="FtpService" dependencyName="FtpService" />
        <property name="Options" dependencyName="FtpOptions"></property>
        <property name="Url" value="http://192.168.1.14:8048"></property>
      </register>
      <register name="ConversationService" type="IConversationService" mapTo="DBC.WeChat.Services.Conversation.Components.ConversationService,DBC.WeChat.Services">
        <lifetime type="singleton"/>
        <property name="Logger"></property>
        <property name="ModelService" dependencyName="Internal"/>
        <property name="PictureService" dependencyName="ScenePic"/>
      </register>


      <register name="Administrator" type="DBC.Ors.Services.Security.IUser, DBC.Ors.Services" mapTo="DBC.Ors.Services.Security.Administrator, DBC.Ors.Services">
        <property name="ID" value="0" />
      </register>
      <register name="Anonymous" type="DBC.Ors.Services.Security.IUser, DBC.Ors.Services" mapTo="DBC.Ors.Services.Security.Administrator, DBC.Ors.Services">
        <property name="ID" value="-1" />
      </register>
      <!--<register name="Anonymous" type="DBC.Ors.Services.Security.IUser, DBC.Ors.Services" mapTo="DBC.Ors.Services.Security.AnonymousUser, DBC.Ors.Services">
        <property name="ID" value="-1"/>
      </register>-->
      <register type="IModuleManager" mapTo="DBC.Modules.ModuleManager, DBC.Core">
        <lifetime type="singleton" />
        <method name="Initialize">
          <param name="modules">
            <array>
              <dependency name="OwnerAutoFill" />
              <!-- Web Service客户端 管理员身份 -->
              <dependency name="Web_Service_Client_Internal" />
              <!-- Web Service客户端 管理员身份 For Ors -->
              <dependency name="Web_Service_Client_Internal_For_Ors" />
            </array>
          </param>
        </method>
      </register>
      <!--店铺Banner FTP图片服务-->
      <register name="BannerFtp" type="IPictureService" mapTo="DBC.WeChat.Services.Components.Picture.FtpPictureService, DBC.WeChat.Services">
        <property name="FtpService" dependencyName="FtpService" />
        <property name="Options" dependencyName="FtpOptions"></property>
        <property name="Url" value="http://192.168.1.14:8048"></property>
        <property name="MaxSize" value="10000"></property>
        <property name="Extension" value="jpg,png,gif,jpeg"></property>

      </register>
      <!--短信发送借口-->
      <!--文件服务-->
      <register name="AudioService" type="DBC.WeChat.Services.Components.Files.FileService,DBC.WeChat.Services">
        <property name="FtpService" dependencyName="FtpService"/>
        <property name="MaxSize" value="500000"></property>
        <property name="Extension" value="wav,wma,mp3,m4a"></property>
      </register>
      <register name="VideoService" type="DBC.WeChat.Services.Components.Files.FileService,DBC.WeChat.Services">
        <property name="FtpService" dependencyName="FtpService"/>
        <property name="MaxSize" value="200000"></property>
        <property name="Extension" value="mp4"></property>
      </register>
      <register name="ResourcePictureService" type="DBC.WeChat.Services.Components.Picture.IPictureService,DBC.WeChat.Services"
                mapTo="DBC.WeChat.Services.Components.Picture.FtpPictureService, DBC.WeChat.Services">
        <property name="FtpService" dependencyName="FtpService" />
        <property name="Options" dependencyName="FtpOptions"></property>
        <property name="Url" value="http://192.168.1.14:8048"></property>
        <property name="PictureSizes">
          <array>
            <dependency name="ItemSize" />
          </array>
        </property>
        <property name="MaxSize" value="128"></property>
        <property name="Extension" value="jpg"></property>
      </register>
      <register name="NewsContentPictureService" type="DBC.WeChat.Services.Components.Picture.IPictureService,DBC.WeChat.Services"
          mapTo="DBC.WeChat.Services.Components.Picture.FtpPictureService, DBC.WeChat.Services">
        <property name="FtpService" dependencyName="FtpService" />
        <property name="Options" dependencyName="FtpOptions"></property>
        <property name="Url" value="http://192.168.1.14:8048"></property>
      </register>
    </container>
  </unity>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>